ul{
    list-style:none;
}

li
{
    font-size:30px;
    
}
  


#btn{
    color:white;
    text-align: center;
    
    font-size: large;
    margin-left: 20px;
    background-color: blue;
    width:150px;
    height:50px;
    border-radius: 10px;
}

.list
{
    width:400px;
    height:60px;
    background-color: palevioletred;
    display:flex;
    justify-content: center;
    margin-top:10px;
   
    border-radius: 10px;
   
    

}
.container{
    display:flex;
    justify-content: center;
    align-content:center
    
}
body{
    background-color:#161623;
}
#task{
  
    border-radius: 15px;
    background-color:white;
    width:300px;
    color:black;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    padding:10px;
    box-sizing:border-box;
    outline:none
}
.heading{
    text-align: center;
    font-size: 40px;
    color: white;
    letter-spacing: 2px;
}
.edit{
    margin-left:25px;
    height:18px;
    position :relative;
    top:20px;
    border:none
    
}

.delete{
    margin-left:10px;
    height:18px;
    position :relative;
    top:20px;
    border:none
    
}
.editTask{
    padding :20px;
    width:150px;
    outline:none;
    font-size:20px;
    background-color:whitesmoke;
    border-radius:10px;
    color:blue


}
.saveTask
{
    margin-left:10px;
    height:25px;
    position :relative;
    top:20px
}
.main{
    display:grid
}
.icon
{
    border:none;
    outline:none
}
.data
{
    display:flex;
    height:30vh;
    align-items:center;
    justify-content: center;
}
 @media only screen and (max-width:800px) {
     .main{
         width: 70%;
         height:100vh;
         grid-template-columns: repeat(1,1fr)
     }
 }

    
